<body>
  <div class='container'>
  <h1>Estadisticas</h1>
   <p>URL larga: {{url.longURL}}</p> 
   <p>URL corta: http://localhost:3000/{{url.shortURL}}</p> 
   <p>Numero de veces que se ha redireccionado: {{url.timesRedirected}}</p> 
  </div>
  
</body>
