<body>
  <div class='container'>
  <h1>Acortador de url's</h1>

    <input class='form-control' type='text' name="url" id='url' placeholder='url'>
    <input type="button" value="Acortar" class="btn btn-primary" onclick="storeUrl()">

    <div id="generated_url">

    </div>
  </div>
  
</body>
